%btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  padding: 20px 0;
  background-color: $light-pink;
  border: none;
  border-radius: 100px;
  font-family: $font;
  color: $grey;
  font-size: 1rem;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

%section-title {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
  color: $grey;
}
